{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Results Second Game
{% endblock %}

{% block content %}
    <div style=" border: solid; border-color: #f6f6f6; padding-left: 0px; width: 65%">

        <table class="table" style="font-size: 12px">
                <tr>
                    <td>You are <b>{{ player.label }}</b></td>
                    <td>Current round is <b>Round {{ player.round_number }}</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
        </table>


        <div style=" margin-left: 15px" >
            {% if player.plays_secondpg == True %}
                You contributed <b>{{ player.cont_second }}</b>.
                <br>
                In total, the sum of all contributions is  <b>{{ group.total_cont_second }}</b>
                <br>
                Therefore, each player receives an individual share of <b>{{ group.indiv_share_second }}</b> from the project.
                <br>
                Your profit for this game is: <b>{{ gameprofit }}</b>.
                <br><br><br>
            {% else %}
                The second game is finished.
                <br><br><br>
            {% endif %}


            The following table displays the contributions of all players
             <table class="table" style="width:75%">
                <tr>
                    <th>Player Label</th>
                    <th>Contribution</th>
                </tr>

                {% if group.excluded_player != 'Player A' %}
                    <tr>
                        {% if player.label == 'Player A' %}<td><b>Player A</b></td>{% else %}<td>Player A</td>{% endif %}
                        {% if player.label == 'Player A' %}<td><b>{{ PlayerA }}</b></td> {% else %}<td>{{ PlayerA }}</td>{% endif %}
                    </tr>
                {% endif %}

                {% if group.excluded_player != 'Player B' %}
                    <tr>
                        {% if player.label == 'Player B' %}<td><b>Player B</b></td>{% else %}<td>Player B</td>{% endif %}
                        {% if player.label == 'Player B' %}<td><b>{{ PlayerB }}</b></td> {% else %}<td>{{ PlayerB }}</td>{% endif %}
                    </tr>
                {% endif %}

                {% if group.excluded_player != 'Player C' %}
                    <tr>
                        {% if player.label == 'Player C' %}<td><b>Player C</b></td>{% else %}<td>Player C</td>{% endif %}
                        {% if player.label == 'Player C' %}<td><b>{{ PlayerC }}</b></td> {% else %}<td>{{ PlayerC }}</td>{% endif %}
                    </tr>
                {% endif %}

                 {% if group.excluded_player != 'Player D' %}
                    <tr>
                        {% if player.label == 'Player D' %}<td><b>Player D</b></td>{% else %}<td>Player D</td>{% endif %}
                        {% if player.label == 'Player D' %}<td><b>{{ PlayerD }}</b></td> {% else %}<td>{{ PlayerD }}</td>{% endif %}
                    </tr>
                {% endif %}

                {% if group.excluded_player != 'Player E' %}
                    <tr>
                        {% if player.label == 'Player E' %}<td><b>Player E</b></td>{% else %}<td>Player E</td>{% endif %}
                        {% if player.label == 'Player E' %}<td><b>{{ PlayerE }}</b></td> {% else %}<td>{{ PlayerE }}</td>{% endif %}
                    </tr>
                {% endif %}

            </table>

        </div>



    </div>
    <br>
    {% next_button %}
{% endblock %}


{% block scripts %}
    <style type="text/css">
        .otree-body{margin-top: 0px}
        .otree-body{padding-top: 0px}
        .page-header {padding-top: 0px;padding-bottom: 0px}
        .otree-title{font-size: 20px}
    </style>
{% endblock %}
