{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Contribution
{% endblock %}

{% block content %}
    <table class="table">
        <tr>
            <td>You are: {{ player.label }}</td>
            <td>Current round: Round {{ player.round_number }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>



    {% if player.plays_secondpg == True %}

        <br><br>
        This is the second game of this round.
        <br>
        {% if group.all_play == 'True' %}
            All five players play the second game.
        {% else %}
            As <b>{{ group.excluded_player }}</b> was not invited, there are four players in the second game.
            <br>
        {% endif %}
        <br>
        {% formfield player.cont_second %}

    {% else %}
        <br>
        You are not playing the second game of this round. Please press Next and wait until the other players are finished with the second game.
        <br><br>
    {% endif %}




    {% next_button %}
{% endblock %}


{% block scripts %}
    <style type="text/css">
        .otree-title{ display:none }
        .otree-body{margin-top: -100px}
    </style>
{% endblock %}
