{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Voting Results
{% endblock %}

{% block content %}
    <div style=" border: solid; border-color: #f6f6f6; padding-left: 0px; width: 65%">

         <table class="table" style="font-size: 12px">
                <tr>
                    <td>You are <b>{{ player.label }}</b></td>
                    <td>Current round is <b>Round {{ player.round_number }}</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
         </table>


         <div style=" margin-left: 15px" >
            <br>
            You have been  {% if player.treatment == 'inclusion' %}invited <b>{{ player.myvotes_inclusion }}</b>{% else %}excluded <b>{{ player.myvotes_exclusion }}</b>{% endif %} times.
            <br>
            {% if player.plays_secondpg == True %}
                Therefore, you are allowed to play the second game.
            {% else %}
                The result of the voting says you are not allowed to play the second game.
            {% endif %}
            <br><br><br>
            The following table displays the voting results
            <table class="table" style="width: 75%">
                <tr>
                    <th>Player Label</th>
                    <th> {% if player.treatment == 'inclusion' %}Invitations{% else %}Exclusions{% endif %}</th>
                    <th>Plays the second game</th>
                </tr>
                </tr>
                <tr>
                    {% if player.label == 'Player A' %}<td><b>Player A</b></td>{% else %}<td>Player A</td>{% endif %}
                    {% if player.label == 'Player A' %}<td><b>{{ PlayerA_votes }}</b></td> {% else %}<td>{{ PlayerA_votes }}</td>{% endif %}
                    {% if player.label == 'Player A' %}<td><b>{{ PlayerA_plays }}</b></td> {% else %}<td>{{ PlayerA_plays }}</td>{% endif %}
                </tr>
                <tr>
                    {% if player.label == 'Player B' %}<td><b>Player B</b></td>{% else %}<td>Player B</td>{% endif %}
                    {% if player.label == 'Player B' %}<td><b>{{ PlayerB_votes }}</b></td> {% else %}<td>{{ PlayerB_votes }}</td>{% endif %}
                    {% if player.label == 'Player B' %}<td><b>{{ PlayerB_plays }}</b></td> {% else %}<td>{{ PlayerB_plays }}</td>{% endif %}
                </tr>
                <tr>
                    {% if player.label == 'Player C' %}<td><b>Player C</b></td>{% else %}<td>Player C</td>{% endif %}
                    {% if player.label == 'Player C' %}<td><b>{{ PlayerC_votes }}</b></td> {% else %}<td>{{ PlayerC_votes }}</td>{% endif %}
                    {% if player.label == 'Player C' %}<td><b>{{ PlayerC_plays }}</b></td> {% else %}<td>{{ PlayerC_plays }}</td>{% endif %}
                </tr>
                <tr>
                    {% if player.label == 'Player D' %}<td><b>Player D</b></td>{% else %}<td>Player D</td>{% endif %}
                    {% if player.label == 'Player D' %}<td><b>{{ PlayerD_votes }}</b></td> {% else %}<td>{{ PlayerD_votes }}</td>{% endif %}
                    {% if player.label == 'Player D' %}<td><b>{{ PlayerD_plays }}</b></td> {% else %}<td>{{ PlayerD_plays }}</td>{% endif %}
                </tr>
                <tr>
                    {% if player.label == 'Player E' %}<td><b>Player E</b></td>{% else %}<td>Player E</td>{% endif %}
                    {% if player.label == 'Player E' %}<td><b>{{ PlayerE_votes }}</b></td> {% else %}<td>{{ PlayerE_votes }}</td>{% endif %}
                    {% if player.label == 'Player E' %}<td><b>{{ PlayerE_plays }}</b></td> {% else %}<td>{{ PlayerE_plays }}</td>{% endif %}
                </tr>
            </table>
            <br>

            {% if group.all_play == 'True' %}
                No single player has the  {% if player.treatment == 'inclusion' %}least invitations{% else %}most exclusions{% endif %}. All players will play the second game.
            {% else %}
                {% if player.plays_secondpg == True %}
                <b>{{ group.excluded_player }}</b> has the {% if player.treatment == 'inclusion' %}least invitations{% else %}most exclusions{% endif %}. She/He will not play the second game.

                {% elif player.plays_secondpg == False %}
                    You will not play the second game of this round.
                {% endif %}
            {% endif %}
         </div>


    <br>
    </div>
    <br>
    {% next_button %}
{% endblock %}


{% block scripts %}
    <style type="text/css">
        .otree-body{margin-top: 0px}
        .otree-body{padding-top: 0px}
        .page-header {padding-top: 0px;padding-bottom: 0px}
        .otree-title{font-size: 20px}
    </style>
{% endblock %}